.tpb-quizz-app {
  --app-height: 800px;
  --app-width: min(800px, 100%);
  height: var(--app-height);
  width: var(--app-width);
  background-color: white;
}

.tpb-quizz-app * {
  font-family: "Quicksand", sans-serif;
  font-size: 100%;
}

@media (min-width: 800px) {
  .tpb-quizz-app {
    font-size: 150%;
  }
}
